/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* THE MAIN CSS BEGINS HERE */
html{
    box-sizing: border-box;
    /* font-family:'Courier New', Courier, monospace */
}
body{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    background-color: white;
    box-shadow: 10px 5px 5px rgb(55, 56, 55);
    /* border-radius: 10px; */
    /* padding: 50px 10px; */
    margin: 25px 5px 25px 5px;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    /* text-transform: uppercase; */
}
.card:first-child{
    background-color: rgb(216, 141, 3);
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
}
.card:nth-child(2){
    background-color: rgb(2, 121, 81);
}
.card:last-child{
    background-color: rgb(1, 53, 40);
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
}
.images{
    margin: 25px;
    max-width: 100%;
}
.card-header{
    text-transform: uppercase;
    font-weight: 900;
    color: rgb(241, 223, 223);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 0 25px 25px;
    font-size: 20px;
}

.card p{
    margin: 0 25px 25px 25px;
    color: antiquewhite;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    line-height: 2;
}

.button{
    border: 1px solid #ffffff;
    border-radius: 25px;
    background-color: white;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    margin: 0 25px 25px 25px;
    transition: background-color 200ms ease-in-out;
}
.card:first-child .button{
    color: rgb(216, 141, 3);
}
.card:nth-child(2) .button{
    color: rgb(2, 121, 81);
}
.card:last-child .button{
    color:rgb(1, 53, 40);
}
.card .button:hover, .button:focus{
    color: white;
    background-color: transparent;
}

@media (min-width: 900px){
    .container{
        flex-direction: row;
        padding: 100px;
    }
    .card:first-child{
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding: 25px 50px;
    }
    .card:last-child{
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}
@media (max-width: 900px){
    .container{
        margin-right: 15px;
        padding: 10px 10px;
    }
    .card:first-child{
        border-radius: 10px;
        margin: 10px 10px 10px 10px;
        padding: 50px 10px;
        /* padding: 25px 50px; */
    }
    .card:nth-child(2){
        border-radius: 10px;
        margin: 10px 10px 10px 10px;
        padding: 50px 10px;
    }
    .card:last-child{
        margin: 10px 10px 10px 10px;
        border-radius:10px;
        padding: 50px 10px;
    }
}